body{
    font-size: 1.7rem;
    padding: 4%;
    border: 5px solid hsla(120, 79%, 24%, 0.397);
    margin: 7%;
    text-align: center;
    border-radius:15px;
    background-color: rgba(0, 255, 17, 0.09);
}
ul{
    list-style-type:none ;
    
    
}
h2{
    padding: 0.5em;
    background-color:gray;
    border-radius: 0.5em;
}
ul li{
    border: 3px solid  hsla(120, 57%, 15%, 0.663);
    padding: 20px;
    margin: 17px;
    background-color: rgba(217, 128, 11, 0.404);
    color: rgb(2, 75, 52);
    border-radius: .5em;
    /* list-style-image: url(./tick.png); */
    
    
}
ul li a{
    color:rgb(7, 45, 45);
    display: block;
}

ul li:hover{
    background-color: rgba(96, 63, 18, 0.453);
    
}

p a{
    color: rgb(142, 8, 8);
    

}
p a:hover , li a:focus  {
    background-color: rgba(109, 70, 23, 0.358);
}

li a:visited  {
    color:hsla(252, 72%, 17%, 0.304);
}   